ATELIER Chatbot.json
{
  "name": "ATELIER Chatbot",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        352
      ],
      "id": "4e1db9ce-98c6-40b8-9e0f-4bf0423903fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uOC589HRcnVMkFHy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        592
      ],
      "id": "382ea7a4-b4fe-4a04-be8c-eef597316bdd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1uyNOej0kRUSywRNKJKnISAAkiCwov6EDAemX76l22ug",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        592
      ],
      "id": "d5236f87-d171-498b-acdc-7ae29c40c1cf",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OEfwu5VNUCQUo1Fc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        128,
        592
      ],
      "id": "037dc072-7460-4d3d-9287-5cf8e6cc3c5e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "xAVy8WjbP7VeRFS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        800
      ],
      "id": "1f360303-1e8d-401c-86d2-0d20e3c3726a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uOC589HRcnVMkFHy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        272,
        800
      ],
      "id": "7501060f-36dd-4dff-808b-6bcb97a3a9a2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant data to feed the AI Agent.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        560,
        304
      ],
      "id": "e85939ee-fde7-4c41-a1a7-a162870b9f60",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "xAVy8WjbP7VeRFS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        352
      ],
      "id": "2d0638e4-fcee-4539-8501-47aad1cf3af8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "iXyagQuvJK4YqEKh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You're a helpful assistand and you reply to every questions with relevant answers. Make sure your answers comply with the connected knowledge base. If you counter a question that does not already exist in your knowledge base, answer it according to your model best intelligence. You need to respond to the following question {{ $json.chatInput }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        128
      ],
      "id": "02d11121-4f9d-4383-b149-a06706f31cd4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -32,
        128
      ],
      "id": "e61a75a6-af58-45e6-ac37-6ccc29b69742",
      "name": "When chat message received",
      "webhookId": "698c3e8a-56f4-4584-b0ec-d39e7ee0a19d"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fc85b639-e667-4a0a-a178-9971662b043a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90aa969e74b3fe28dd6277d05fe23539327ebe5c73b136277ff4db9d77792b90"
  },
  "id": "N54XqDnURTvJbYW6",
  "tags": []
}